<div class="d1" [ngSwitch]="page">
  <div class="d2" *ngSwitchCase="'todos'">
    <table>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>메모</th>
        <th>완료</th>
      </tr>
      <tr *ngFor="let todo of todos | async">
        <td> {{ todo.id }} </td>
        <td> {{ todo.name }} </td>
        <td> {{ todo.title }} </td>
        <td><button (click)="editTodo(todo.id, todo.name, todo.title, true); todo.complete=true"> {{ todo.complete }} </button></td>
      </tr>
    </table>
  </div>
  <div class="d3" *ngSwitchCase="'addTodo'">
    <table>
      <tr>
        <th>제목</th>
        <th>메모</th>
      </tr>
      <tr>
        <td><input type="text" [(ngModel)]="name"></td>
        <td><input type="text" [(ngModel)]="title"></td>
      </tr>
      <tr>
        <td><button (click)="addTodo(name, title); page='todos'">추가</button></td>
      </tr>
    </table>
  </div>
  <div class="d4" *ngSwitchCase="'edit'">
    <table>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>메모</th>
        <th>완료</th>
      </tr>
      <tr *ngFor="let todo of todos | async">
        <td> {{ todo.id }} </td>
        <td><input type="text" value="{{ todo.name }}"></td>
        <td><input type="text" value="{{ todo.title }}"></td>
        <td><button (click)="editTodo(todo.id, todo.name, todo.title, true); todo.complete=true"> {{ todo.complete }} </button></td>
      </tr>
    </table>
  </div>
</div>